.pos_print td,
#stockRequestDoc td {
  border: 0;
  padding: 5px;
  font-size: 10px;
}

.pos_print td {
  padding: 3px;
}

#tagRequestDoc {
  font-size: 10px;
}

#stockRequestDocItems {
  border-left: 1px solid black; 
  border-top: 1px solid black;
}

#stockRequestDocItems td {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.compact * {
  line-height: 1.2;
}

@page {
  margin-top: 0.25in;
  margin-left: 0.25in;
  margin-bottom: 0.25in;
  margin-right: 0.25in;
}